Q1). Write an SQL query to print the FIRST_NAME from Worker table after removing
white spaces from the right side.

Ans) 
Select RTRIM(FIRST_NAME) from Worker;

Q2). Write an SQL query that fetches the unique values of DEPARTMENT from Worker
table and prints its length.

Ans) SELECT DISTINCT department_id 
	  FROM employees;

Q3) Write an SQL query to fetch nth max salaries from a table.

Ans) 

Select Emp_name from table_name where Salary =( Select Salary from table_name order by Salary DESC limit n-1,1);